@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
		background-color: #161b1e;
		color: #f5f5f7;
		line-height: 1.47059;
		letter-spacing: -0.022em;
		font-style: normal;
		quotes: '“' '”' '‘' '’';
		@apply antialiased;
		direction: ltr;
	}
	.light {
		background-color: #f5f5f7;
		color: #1d1d1f;
	}
	.headline {
		font-size: 48px;
		line-height: 1.08349;
		font-weight: 600;
		letter-spacing: -0.003em;
	}
	@media (min-width: 1068px) {
		.headline {
			font-size: 80px;
			line-height: 1.05;
			letter-spacing: -0.015em;
		}
	}
	@media (min-width: 734px) {
		.headline {
			font-size: 64px;
			line-height: 1.0625;
			letter-spacing: -0.009em;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	}
}
